<div class="lastfm_container">
  <img src="<%= @lastfm_track["image"] %>">
  <h4>Current Track on Spotify</h4>
  <strong><%= @lastfm_track["name"] %></strong><br />
  <span><%= @lastfm_track["artist"] %></span>
</div>
