<html>
  <head>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }

      .container {
        box-sizing: border-box;
        background-color: #e4e7e8;
        width: 600px;
        height: 800px;
        padding: 10px;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
